<footer class="site-footer">

  <div class="container">
    <div class="seven columns">
        <div class="footer-link-list">
            <div class="footer-link-list-header">
                Previously
            </div>
            <ul class="footer-links">
                <li><a href="/wedding/">Wedding</a></li>
                <li><a href="/engagement/">Engagement</a></li>
            </ul>
        </div>
    </div>

    <!--
    <div class="site-search five columns">
        <form method="get" id="search" action="http://duckduckgo.com/">
            <input type="hidden" name="sites" value="sarahandcurt.us">
            <input type="text" name="q" maxlength="255">
            <input type="submit" value="Search">
        </form>
    
    </div>
    -->

  </div>

</footer>

<script src="/js/jquery.min.js"></script>

{% if page.scripts %}
{% for script in page.scripts %}
    <script src="{{ script | prepend: site.baseurl }}"></script>
{% endfor %}
{% endif %}
