<footer class="site-footer">

  <div class="container u-center">
        <a href="/">
            {% if page.type == "main" %}
                <img class="footer-logo" src="/img/fire.png" alt="logo">
            {% else %}
                <img class="footer-logo" src="/img/logo.png" alt="logo">
            {% endif %}
        </a>
   </div>

    <div class="container u-center">
        <a href="mailto:hello@sarahandcurt.us">E-mail us</a>

    </div>

    <!--
    <div class="site-search five columns">
        <form method="get" id="search" action="http://duckduckgo.com/">
            <input type="hidden" name="sites" value="sarahandcurt.us">
            <input type="text" name="q" maxlength="255">
            <input type="submit" value="Search">
        </form>
    
    </div>
    -->


</footer>

<script src="/js/jquery.min.js"></script>

{% if page.scripts %}
{% for script in page.scripts %}
    <script src="{{ script | prepend: site.baseurl }}"></script>
{% endfor %}
{% endif %}
