.card {
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    position: relative;
}

/* Mailing list card
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.card.mailing-list {
    background-image: url('/img/bg/paper_fibers.png');
    @media screen and (min-resolution: 2dppx) {
        background-image: url('/img/bg/paper_fibers_@2X.png');
    }

    padding: 1rem 2rem;
}

.envelope-stamp {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}
.envelope-to {
    padding-top: 1rem;
    font-size: 2rem;

    & > span {
        display: block;
        font-weight: 300;
        font-size: .8em;
        font-style: italic;
    }
}
.mailing-list-form {
    margin-bottom: 0;
}
.envelope-button {
    text-align: center;

    &>input[type="submit"] {
        background-color: #fff;
    }
}
.powered-by {
    display: block;
    text-align: center;
}




/* NC Countdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nc-countdown {
    border-radius: 15px;
    background-image: url('/img/bg/nc_plate.png');
    background-size: 100%;
    background-repeat: no-repeat;
    @media screen and (min-resolution: 2dppx) {
        background-image: url('/img/bg/nc_plate_@2X.png');
    }
}

.countdown-count {
    font-size: 7rem;
    font-weight: 700;
    font-family: $sans;
    position: absolute;
    right: 55%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.countdown-label {
    font-family: $slab;
    font-size: 3rem;
    font-style: italic;
    line-height: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.countdown-complete {
    font-size: 4rem;
    font-weight: 700;
    font-family: $slab;
    font-style: italic;
    line-height: 1em;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* National Parks map
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.nps-map {
    overflow: hidden;
    line-height: .9em;
}

.map-card-header {
    background-color: #000;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1em;
    padding: 1rem 1rem 2rem 1rem;

    a {
        text-decoration: none;
        color: #fff;
    }

}




.map-map {
    width: 100%;
    margin-bottom: -1em;
}


/* Honeymoon countdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.honeymoon-countdown {
    background: url('/img/aurora.jpg');
    background-size: 100%;
    background-position: bottom center;
    line-height: 1em;

    p { margin-bottom: 0; }

    .photo-credit {
        position: absolute;
        bottom: 5px;
        right: 10px;
        color: #666;
        font-size: 1rem;
        font-style: italic;
        
        a { color: #669; }
    }
}

.hm-countdown {
    position: absolute;
    color: #fff;
    font-size: 2rem;
    left: 2rem;
    bottom: 2rem;
    font-family: $sans;
    line-height: 2.2rem;

    &>span {
        font-size: 3rem;
        font-family: $slab;
        font-weight: bold;
    }
}

/* Honeymoon countdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.more-links {
    font-size: 1.5rem;
}
